.account__amounts{
  max-width: 800px;
  margin:-40px auto;
  padding:10px 0 40px 0;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:15px;
}

.grid__card{
  padding:20px;
  background:#fff;
  box-shadow: 3px 3px 18px rgba(0,0,0,.4);
}

.grid__title{
  text-transform: capitalize;
}

@media(max-width:480px){
  .account__amounts{
    grid-template-columns:1fr;
  }
  .grid__Title{
    margin:2px;
  }
}